@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* light them- */

  /* -Very-Light-Gray: hsl(0, 0%, 98%);
-Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
-Light-Grayish-Blue: hsl(233, 11%, 84%);
-Dark-Grayish-Blue: hsl(236, 9%, 61%);
-Very-Dark-Grayish-Blue: hsl(235, 19%, 35%); */

  /* ### Dark Theme */

  -very-dark-blue: hsl(235, 21%, 11%);
  -very-dark-desaturated-blue: hsl(235, 24%, 19%);
  -light-grayish-blue: hsl(234, 39%, 85%);
  -light-grayish-blue-hover: hsl(236, 33%, 92%);
  -dark-grayish-blue: hsl(234, 11%, 52%);
  -very-dark-grayish-blue: hsl(233, 14%, 35%);
  -very-dark-grayish-blue: hsl(237, 14%, 26%);
  -bright-blue: hsl(220, 98%, 61%);
}

.bg-img-container {
  background-image: url(./images/bg-desktop-dark.jpg);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

.active {
  text-decoration: line-through;
}

.sort2{
    display: none;
}

@media (max-width: 500px) {
    .sort1{
        display: none;
    }

    .sort2{
        display: flex;
    }
}