@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* light them- */

  -very-light-gray: hsl(0, 0%, 98%);
  -very-light-grayish-blue: hsl(236, 33%, 92%);
  -light-grayish-blue: hsl(233, 11%, 84%);
  -dark-grayish-blue: hsl(236, 9%, 61%);
  -very-dark-grayish-blue: hsl(235, 19%, 35%);

  /* ### Dark Theme */

  -very-dark-blue: hsl(235, 21%, 11%);
  -very-dark-desaturated-blue: hsl(235, 24%, 19%);
  -light-grayish-blue: hsl(234, 39%, 85%);
  -light-grayish-blue-hover: hsl(236, 33%, 92%);
  -dark-grayish-blue: hsl(234, 11%, 52%);
  -very-dark-grayish-blue: hsl(233, 14%, 35%);
  -very-dark-grayish-blue: hsl(237, 14%, 26%);
  -bright-blue: hsl(220, 98%, 61%);
}

.bg-img-container {
  /* background-image: url(./images/bg-desktop-dark.jpg); */
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}
span {
  background-color: linear-gradient(
    to right,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
}

.sortCont {
  opacity: 0;
  pointer-events: none;
  transform: translateY(100px);
  transition:  0.6s cubic-bezier(.25,.43,0,1.54);
  position: absolute;
  bottom: 0;
  /* transition-delay: 0.1s; */

}

.sortCont.shown {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px);
  position: relative;

}

.active {
  text-decoration: line-through;
}

.selected {
  color: hsl(220, 98%, 61%);
}

.sort2 {
  display: none;
}

@media (max-width: 500px) {
  .sort1 {
    display: none;
  }

  .sort2 {
    display: flex;
  }
}
